.header {
  display: grid;
  grid-template-columns: 1fr;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.header__title {
  color: var(--text-color-primary);
  font-size: 2.4rem;
  line-height: 2.905rem;
  margin-bottom: 0.4rem;
}

.header__subtitle {
  color: var(--text-color-secondary);
  font-size: 1.4rem;
  line-height: 1.694rem;
}

.header__title,
.header__subtitle {
  font-weight: 700;
}

.header__divider {
  margin: 2.4rem 0 1.6rem 0;
  height: 0.1rem;
  background: hsl(228, 25%, 27%);
}
